*{
    margin: 5px;
    padding: 0;
}

.gp{
    width: 100%;
    height: 95vh;
    border: 1px solid black;
    display: flex;
}


.parent1{
    width: 33%;
    
}   

.parent2{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.parent3{
    width: 33%; 
    display: flex;
    justify-content: end;
    align-items: end;
}



.child{
    width: 100px;
    height: 100px;
}

.parent1 .child{
    background-color: aqua;
}

.parent2 .child{
    background-color: aquamarine;
}

.parent3   .child{
    background-color: bisque;
}