*{
    text-decoration: none;
    font-size: 24px;
    color: black;
    list-style: decimal;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;

}

nav{
    width: 100%;
    height: 100px;
    background-color: burlywood;
}

main{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 50px;
    margin-top: 40px;

}
