.main{
    width: 350px;
    height: 350px;
}
img{
    width: 100px;
    height: 100px;
}

body{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div{
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;
}