main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

    .name{
        font-size: 96px;
        font-weight: bold;
    }

    .about{
        font-size: 30px;
        text-align: center;
        max-width: 500px;
    }

    .text{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .buttons{
        display: flex;
        gap: 16px;
        margin-top: 30px;
        .be, .in{
            font-size: 20px;
            font-weight: bold;
            color: blue;
            padding: 16px;
            border-radius: 100%;
            border: 1px solid black;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                color: blue;
                font-weight: bold;
            }
        }
        
    }
}