body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100px;
    height: 50px;
    border: none;
    background-color: antiquewhite;
    border-radius: 8px;
}

.btn-div{
    width: 100%;
    display: flex;
    justify-content: end;
}

.slm-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 4px red solid;

}
h1{
    color: red;
}