*{
    margin: 0;
    padding: 0;
}

.parent{
    display: flex;
    justify-content: space-between;
    
}
.kart{
    width: 250px;
    margin: 5px;
    background-color: white;
    border-radius: 8px;
}

img{
    width: 100%;
    border-radius: 8px;
}

.content{
    margin: 5px;
}

.basliq{
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
}
.boz{
    color: rgb(162, 162, 162);
}

body{
    background-color: antiquewhite;
}
 
.daxili_div{
    padding: 10px;
} 


.qiymet{
    font-weight: bold;
    margin: 0px;
}

.description_p{
    color: black;
}


.icon_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

