*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style: none;
    box-sizing: border-box;
}
body{
        background-color: rgb(23, 12, 23);

}

header{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    h1{
        margin-left: 30px;
        color: gold;
    }


}

main{
    height: auto;
    padding-top: 20px;
    .cards{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        min-height: 86vh;
        .card{
            transition: 0.3s;
            
            margin: 20px;

            width: 200px;
            height: 400px;
            border-radius: 8px;
            background-color: rgba(177, 255, 237, 0.473);

            cursor: pointer;

            img{
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 300px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }

            h2{
                margin:0px 10px;
                max-height: 25px;
                overflow-y: hidden;
            }
            p{
                margin: 5px 10px;
            }
            
        }
        .card:hover{
            scale: 1.05;
            background-color: rgb(177, 255, 237);;
        }
    }



    .search{
        padding-left: 30px;
        
            input{
                padding-left: 10px;
                height: 30px;
                border-radius: 8px;
                border: none;
            }
            select{
                border-radius: 8px;
                border: none;
                height: 30px;
                width: 100px;

            }
            button{
                height: 30px;
                width: 100px;
                border:none;
                border-radius: 8px;     
                background-color: blueviolet;
                color: white;
                font-size: 16px;

            }
        
    }
}


footer{
    color: white;
}