
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Nabla:EDPT,EHLT@58,4&family=Playwrite+NO:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


header{
    .icon-name{
        font-family: "Arizonia", cursive;
        font-size: 30px;
    }   

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 55px;
    align-items: center;
    background-color: #FFF0F1FC ;

    ul{

        display: flex;
        gap: 10px;
        width: auto;
        justify-content: space-between;

        li{
            border-radius: 16px;
            padding: 12px 30px;
            transition: 0.5s;
            font-weight: bold;
            a{
                background-color: transparent;
            }
        }
        li:hover{
            background-color: antiquewhite;
        }
    }

}


.active{
    background-color: #2349FF;
    color: white;
    a{
        color: white;
    }
}
.active:hover{
    background-color: #647cf4d9;
}
