* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    text-decoration: none;
    list-style: none;
}

/* Header ------------------------------- */

header{
    width: 100%;
    height: 100px;
}

/* Nav --------------------------------- */

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    gap: 200px;
    align-items: center;
    background-color: antiquewhite;

    img {
        width: 100px;
        height: 100px;
    }



    ul {
        display: flex;
        width: 75%;
        justify-content: space-between;
        font-size: x-large;

        li a {
            color: black;
            letter-spacing: 2px;

        }

        li a:hover {

            color: blueviolet;
            font-size: xx-large;
        }

    }
}

/* nav end---------------------------------------------------- */

/* Main -----------------------------------------------------  */

main{
    background-color: rgba(208, 246, 198, 0.096);
}

/* slider class ---------------------------------------------- */

.slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    row-gap: 20px;


    .left-aside {
        height: auto;
        border-radius: 2px;
        background-color: rgba(127, 255, 212, 0.09);
        width: 120px;

        box-shadow: 0px 2px 1px 0.1px black;


        ul {
            row-gap: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

    }

    ul li {
        padding: 5px;
    }


    a {
        color: black;
        font-size: 20px;
    }

    a:hover {
        font-size: 22px;
        color: brown
    }


    article {
        width: 50%;

        p {
            font-size: large;
        }
    }

    img {
        width: 250px;
    }
}





/* End of slider --------------------------------------*/


/* Cards Start --------------------------------------- */


.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;   
    height: auto;
    padding: 0px 40px;


    .card{
        margin-bottom: 30px;
        position: relative;
        width: 250px;
        height: auto;
        border-radius: 10px;
        background-color: rgba(127, 255, 212, 0.241);
        box-shadow: 2px 2px 1px 0.1px rgba(0, 0, 0, 0.271);

        img{
            width: 100%;
        }


        .description{
            padding: 5px;

            h1{
                font-weight: normal;
                font-size: x-large;
            }
            .qiymet{
                font-weight: bold;
                font-size: large;
                color: rgb(146, 144, 144);
            }
        }

        .icons{
            display: flex;
            padding: 5px 5px 10px 5px;
            justify-content: space-between;
        }

        .positional-icon{
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
    .card:hover{
        box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.255);
        background-color: rgba(127, 255, 212, 0.538);
    }

}






/* end of cards ---------------------------- */



/* footer -----------------------------------*/

footer{
    height: 35px;
    background-color: rgba(250, 235, 215, 0.638);
    display: flex;
    justify-content: center;
    align-items: center;
}