* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}




.navbar {
    width: 100%;
    height: 100px;
    position: fixed;

    background-color: rgba(118, 237, 253, 0.703);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}

.navbar:hover {
    background-image: url(assets/navback2.gif);
    background-size: cover;
    background-position: center;
    
}


.logo img {
    height: 100px;
    margin-left: 20px;
}

.nav {
    width: 70%;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

    list-style: none;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 10px;
    transition: 0.5s;

}

.nav a:hover {
    color: rgb(76, 0, 108);
    background-color: rgba(0, 0, 0, 0.156);
    border-radius: 15px;
    font-size: 27px;
}


.icon {
    margin-right: 20px;
}



/* ----------------------------- */

.content_img {
    height: 400px;
    background-image: url(assets/newbg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.custom_height {
    height: 80vh;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
}

.content_img h1 {
    font-size: 77px;
    color: beige;
    stroke: black;
    stroke-width: 2px;
    text-shadow: 3px 4px 2px black;
    transition: 3s;
}

h1:hover {
    color: rgba(255, 255, 255, 0);
    text-shadow: none;
}

.kart {
    border-radius: 8px;
    width: 330px;
    height: 470px;
    background-color: rgba(245, 245, 220, 0.837);
    margin-left: 7px;
    margin-top: 20px;
    font-size: 18px;
    transition: 0.5s;
}

.kart:hover {
    background-color: antiquewhite;
}


.gif img {
    width: 100%;
    height: 200px;
    border-radius: 8px;

}


.description {
    padding: 10px;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating_and_icons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.fa-heart {
    transition: 0.3s;
}

.rating_and_icons .fa-heart:hover {
    font-size: 20px;
    color: red;
}


#Products_div .content_img {
    height: auto;
}




/* About div =---------------------------------------- */

#About_div .content_img {
    height: auto;
    display: flex;
    align-items: center;
}

#About_div .content_img p {
    margin: 200px 25%;
    letter-spacing: 2px;
    font-size: 28px;
    background-image: linear-gradient(to left, white, rgb(103, 214, 255));
    color: transparent;
    background-clip: text;
    transition: 0.3s;
    padding: 5px;
}



#About_div .content_img p:hover {

    background-image: url(assets/backgroundfortext.gif);
    background-size: cover;
    color: transparent;
    background-clip: text;
    transform: scale(1.05);

}


/*Contact div =----------------------  */


#Contact_div .content_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

}

#Contact_div .content_img span {
    border-radius: 10px;
    background-color: transparent;
    transition: 2s;
}

#Contact_div .content_img span:hover {
    background-color: rgba(0, 0, 0, 0.796);
}

#Contact_div .content_img p,
#Contact_div .content_img p a {
    padding: 20px;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
}

#Contact_div .content_img p:hover,
#Contact_div .content_img a:hover {
    background-image: url(assets/200w.gif);
    background-size: cover;
    background-position: bottom;
    background-clip: text;
    color: transparent;
}


.footer_div {
    background-color: antiquewhite;
    font-size: large;
    display: flex;
    justify-content: center;
}