* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}




.navbar {
    width: 100%;
    height: 100px;
    position: fixed;

    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-left: 20px;
}

.nav {
    width: 70%;
    border: 1px solid black;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

    list-style: none;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    transition: 0.5s;

}

.nav a:hover {
    color: rgb(76, 0, 108);
    font-size: 27px;
}


.icon {
    margin-right: 20px;
}



/* ----------------------------- */

.content_img {
    height: 400px;
    background-image: url(assets/newbg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.custom_height {
    height: 80vh;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
}

.content_img h1 {
    font-size: 77px;
    color: beige;
    stroke: black;
    stroke-width: 2px;
    text-shadow: 3px 4px 2px black;
    transition: 3s;
}

h1:hover {
    color: rgba(255, 255, 255, 0);
    text-shadow: none;
}

.kart {
    border-radius: 8px;
    width: 330px;
    height: 470px;
    background-color: rgba(245, 245, 220, 0.837);
    margin-left: 7px;
    margin-top: 20px;
    font-size: 18px;
    transition: 0.5s;
}

.kart:hover {
    background-color: rgb(213, 139, 85);
}

.gif img {
    width: 100%;
    height: 200px;
    border-radius: 8px;

}


.description {
    padding: 10px;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating_and_icons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}


#Products_div .content_img {
    height: auto;
}


#About_div .content_img {
    height: auto;
    display: flex;
    align-items: center;
}

#About_div .content_img p {
    margin: 200px 25%;
    letter-spacing: 2px;
    font-size: 28px;
    color: white;
    transition: 1s;
    padding: 5px;
}

#About_div .content_img p:hover {
    background-color: aliceblue;
    border-radius: 10px;
    background-image: linear-gradient(to right, white, rgb(103, 214, 255));
    color: transparent;
    background-clip: text;
    transform: scale(1.05);
}

#About_div .content_img p:hover::before,
#About_div .content_img p:hover::before{
    background-color: aliceblue;
    background-image: linear-gradient(to right, white, rgb(103, 214, 255));
    color: transparent;
    background-clip: text;

}






.footer_div {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}