body{
    display: flex;
    justify-content: center;
    align-items: center;
}


div{
    display: flex;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    border: 1px solid black;
    justify-content: center;
    flex-direction: column;  
    align-items: center;
}

button{
    border: none;
    background-color: navajowhite;
    width: 100px;
    height: 50px;
    border-radius: 7px;
}

.boom{ 
    width: 400px;
    height: 400px;
    background-image: url(assets/images.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}


.blink{
    transition: 0.3s;
    animation: blinking 1s infinite ;
}

@keyframes blinking {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.box{
    width: 350px;
    height: 50px;
    margin-bottom: 20px;
}

.download-bar{
    width: 350px;
    height: 50x;
    background-image: linear-gradient(to right, red,blue,green);
    transition: 0.3s;
    transform-origin: left;
    transform: scaleX(0);
    border-radius: 8px;
}
