*{
    margin: 0;
    padding: 0;
}

:root{
    --grad-color-red : rgb(206, 14, 14);
}


body
{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
}
a{
    padding: 10px 20px;
    color: white;
    background-color: black;
    border-radius: 2px;
    text-decoration: none;
    position:absolute;
    
}   

a::before{
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient( to right,black,red,rgb(226, 175, 175));
    width: 100%;
    height: 2px;
    left: 0px;
    top: -4.1px;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: left;
    
}

a:hover::before{
    transform: scaleX(1);
}

a::after{
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient( to left,black,red,rgb(226, 175, 175));
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: -4px;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: right;
}

a:hover::after{
    transform: scaleX(1);
}


.second{
    background-image: url(salam.jpg );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 2px;
    text-decoration: none;
    position:absolute;
    top: 300px;
    
}   

.second::before{
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient( to right,black,rgb(111, 0, 0),rgb(192, 41, 41));
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    transform: scaleX(1);
    transition: 0.5s;
    transform-origin: left;
    
}

.second:hover::before{
    transform: scaleX(0);
}

.second::after{
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient( to right,var(--grad-color-red) ,rgb(226, 175, 175), rgb(237, 235, 235));
    width: 100%;
    height: 100%;
    right: -100px;
    top: 0px;
    transform: scaleX(0.5);
    transition: 0.5s;
    transform-origin: right;
    
}

.second:hover::after{
    transform: scaleX(0);
}
