*{
    margin: 0;
    padding: 0;
}

/* .main-black{
    background-color: black;
} */
.btn-rb-primary{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(226, 0, 0);
    font-weight: bold;
    transition: 0.3s;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    
}

.btn-rb-primary:hover{
    background-color: red;
}

.btn-rb-black{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(21, 5, 5);
    font-weight: bold;
    transition: 0.3s;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    
}

.btn-rb-black:hover{
    background-color: rgb(66, 3, 3);
}

.btn-rb-white{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.3s;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.212);
}

.btn-rb-white:hover{
    background-color: rgb(249, 232, 232);
}


.flex{
    display: flex;
}

.jc-space-between{
    justify-content: space-between;
}
.jc-space-evenly{
    justify-content: space-evenly;
}
.jc-space-aroun{
    justify-content: space-around;
}

.jc-end{
    justify-content: end;
}
.jc-center{
    justify-content: center;
}
.ai-end{
    align-items: end;
}
.ai-center{
    align-items: center;
}
.nav-primary{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 30px 20px;
    background-color:rgb(194, 3, 3);
    color: white;
    font-size: 20px;
}

.nav-list{
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    li{
        transition: 0.3s;
        scale: 1;
    }
}

.nav-list li:hover{
    color: antiquewhite;
    scale: 1.05;
}
.nav-black{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 30px 20px;
    background-color:rgb(9, 9, 9);
    color: white;
    box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.273);
    font-size: 20px;

}
/* body{
    background-color: black;
} */


.main-card{
    background-color: rgba(255, 0, 0, 0.356);
    width: 250px;
    height: 350px;
    border-radius: 8px;
    display: flex;
    transition: 0.7s;
    flex-direction: column;
    align-items: center;
    img{
        width: 250px;
        height: fit-content;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    p{
        margin-top: 20px;
        font-size: 20px;
        color: white;

    }

}

.main-card:hover{
    background-color: red;
}


.main-card-black{
    background-color: rgba(20, 15, 15, 0.356);
    width: 250px;
    height: 350px;
    border-radius: 8px;
    display: flex;
    transition: 0.7s;
    flex-direction: column;
    align-items: center;
    img{
        width: 250px;
        height: fit-content;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    p{
        margin-top: 20px;
        font-size: 20px;
        color: white;

    }

}

.main-card-black:hover{
    background-color: rgb(0, 0, 0);
}


