* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

.car {
    position: absolute;
    width: 80px;
    height: 160px;
    /* background-color: blue; */
    transition: 0.1s;
    top: 300px;
    left: 400px;
    background-image: url(assets/playercar.png);

    background-repeat: no-repeat;
    /* rotate: 90deg; */
    background-position: center;
    background-size: cover;

}

.enemy-car {
    position: absolute;
    z-index: 50;
    top: -200px;
    width: 90px;
    height: 180px;
    background-image: url("assets/enemy_car.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: aliceblue; */
    /* transform: translate(700px,500px); */
    /* transition: 5s; */
}

.game-area {
    margin: 0px 500px;
    width: 480px;
    height: 100vh;
    background-image: url(assets/road.jpg);
    background-position: top;
    background-size: cover;
    transition: 1s;
    animation: road 1000s infinite linear;
}

@keyframes road {
    0% {
        background-position-y: 0vh;
    }

    100% {
        background-position-y: 100000vh;
    }
}

.score-board {
    position: absolute;
    top: 20px;
    left: 20px;

    h1 {
        margin-top: 20px;
    }


    .leaderboard {
        /* padding: px; */

        width: 300px;
        height: 470px;
        font-size: 20px;
        color:antiquewhite;
        h1 {
            padding-top: 30px;
            text-align: center;
        }

        p {
            padding: 10px;
            text-align: center;
        }
        background-image: url(assets/board.jpg);
        border-collapse: collapse;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    input{
        height: 30px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.363);
        text-align: center;
    }


    button{
        height: 50px;
        width: 200px;
        margin:20px 50px;
        border-radius: 8px;
        background-color: burlywood;
        border:none;
        font-size: 20px;
        transition: 0.7s;
    }
    button:hover{
        background-color: chocolate;
    }
}