
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Nabla:EDPT,EHLT@58,4&family=Playwrite+NO:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.Blue{
    color: rgb(123, 223, 245);
}
.Red
{
    color: red;
}
.Green{
    color: rgb(48, 238, 48);
}
.Orange{
    color: orange;
}
.Yellow{
    color: yellow;
}

body{
    color: azure;
}
span{
    padding: 3px;
}

img{
    border-radius: 10px;
    width: 95%;
}
p{
    font-family: "Roboto Condensed",sans-serif;
}
#main_div{
    
    border-radius: 7px;
    width: 350px;
    background-color: rgb(37, 2, 37);
    margin: 10px;
    padding: 5px 0px 20px 0px;
}

.description{
    height: 75px;
}

#basliq{
    font-family: "Roboto condensed",sans-serif;
    font-size: xx-large;
    color: black;
    font-weight: bold;
}

.content{
    display: flex;
}