h1{
    color: brown;
}
h6{
    color: orange;
    font-size: large;
}

video{
    width: 300px;
    height: 200px;

}

iframe{
    width: 300px;
    height: 200px;
}

p{
    font-size: 20px;
    color: white;
    background-color: black;
}

ul{
    list-style-type: none;
    background-color: black;
    font-size: 20px;
}

a{
    color:white
}

