* {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
}

/* Header begins ============== */
body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;

    nav {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
            display: flex;
            align-items: center;

            h1 {
                margin-left: 5px;
            }

            img {
                width: 32px;

            }
        }

        .nav-bar {
            width: 40%;

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    a {
                        color: rgba(255, 255, 255, 0.733);
                        transition: 0.3s;
                    }

                    a:hover {
                        color: white;
                    }
                }

            }
        }

        .buttons {
            width: 160px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .try-for-free {
                color: black;
                background-color: greenyellow;
                padding: 7px 12px;
                border-radius: 15px;
            }
        }

    }
}

/* Header ends ================ */
/* Main begins ============= */

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* Firstpage begins====================== */

    .firstpage {
        display: flex;
        width: 80%;

        .disk {
            margin-right: -13px;
            font-size: 20px;
            color: greenyellow;
            display: inline;
        }

        .dec {
            color: greenyellow;
            border: 1px rgba(255, 255, 255, 0.458) solid;
            display: inline;

            padding: 5px 10px 5px 15px;
            border-radius: 20px;
        }

        h1 {
            font-size: 50px;
        }

        p {
            color: rgba(255, 255, 255, 0.512);
        }

        .buttons {
            .get-started {
                color: black;
                background-color: greenyellow;
                padding: 7px 12px;
                border-radius: 15px;
                margin-right: 20px;
            }
            .watch-video{
                border-radius: 20px;
                padding: 7px 15px;
                border: 1px rgba(255, 255, 255, 0.518) solid;
            }
        }
    }

}