* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;

    nav {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        width: 90%;

        ul {
            display: flex;
            justify-content: space-between;
            gap: 70px;
            align-items: center;

            li a {
                font-size: 14px;
                color: white;
                transition: 0.3s;
            }

            a:hover {
                color: #cbd0ff;
            }
        }

        .fa-bars {
            color: white;
            font-size: 20px;
            display: none !important;

        }

        .signup {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        button {
            height: fit-content;
            padding: 4px 14px;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 5px;
            color: white;
            font-size: 14px;
            transition: 0.3s;
        }

        button:hover {
            background-image: linear-gradient(#1F34E7, rgb(167, 201, 215));
            border: 1px solid transparent;
        }
    }
}


/* main begins ------------------------------ */
main {

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .landing {
        display: flex;
        width: 100%;
        height: 80vh;
        align-items: center;
        justify-content: center;

        .right {
            width: 400px;

            p {
                color: white;
            }


            .explore {
                p {
                    font-weight: bold;
                    font-size: 48px;
                    display: inline;
                }

                .exp-p {
                    color: rgb(169, 116, 219);
                }
            }


            button {
                margin-top: 20px;
                height: fit-content;
                padding: 4px 14px;
                background-color: transparent;

                border: 1px solid white;
                border-radius: 5px;
                color: white;
                font-size: 14px;
                cursor: pointer;
                transition: 0.5s;
            }

            button:hover {
                background-image: linear-gradient(#1F34E7, rgb(167, 201, 215));
                border: 1px solid transparent;
            }
        }

        .left {
            margin-top: 120px;
            width: 400px;
            height: 100%;


            .eclipses {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -4;
                box-sizing: border-box;
                overflow: hidden;
                width: 400px;
                img {   
                    position: absolute;
                }


                .robo {
                    z-index: 10;
                    width: 400px;
                    left: 10px;
                    top: 40px;
                }

                .ec4 {
                    position: absolute;
                    left: 430px;
                }

                .ec3 {
                    position: absolute;
                    left: 150px;
                }

                .ec2 {
                    position: absolute;
                    top: 80px;
                    left: 70px;
                }

                .ec1 {
                    position: absolute;
                    top: 350px;
                    left: 150px;
                }
            }
        }
    }

    .cards {

        margin-bottom: 115px;
        border-radius: 12px;
        width: fit-content;
        height: fit-content;
        background-color: #3e3c3c5e;

        display: flex;
        justify-content: space-between;
        padding: 15px 55px;
        gap: 40px;

        .card {

            transition: 0.3s;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            background-color: #3e3c3c5e;

            img {
                margin-top: 45px;
                width: fit-content;
            }

            p {
                color: white;
                font-size: 18px;
                margin-top: 25px;
                text-align: center;
                width: 60%;
            }
        }

        .card:hover {
            background-color: #361fe75e;
        }


    }


    /* cards ends ---------------------- */

    .back-white {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 145%;
        margin: -100px;
        z-index: -40;

        .circle1 {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            position: absolute;
            top: 250px;
            left: -175px;
            background-image: radial-gradient(#1FC3E7D7, #1F34E7);
            filter: blur(180px);
        }

        .circle2 {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            position: absolute;
            top: 550px;
            left: 220px;
            background-image: radial-gradient(#1FC3E7D7, #1F34E7);
            filter: blur(250px);
        }

        .circle3 {
            width: 800px;
            height: 800px;
            border-radius: 50%;
            position: absolute;
            top: -290px;
            right: -250px;
            background-image: radial-gradient(#1FC3E7D7, #1F34E7);
            filter: blur(140px);
            opacity: 0.4;
        }

        .circle4 {
            width: 800px;
            height: 800px;
            border-radius: 50%;
            position: absolute;
            bottom: -600px;
            right: -350px;
            background-image: radial-gradient(#1FC3E7D7, #1F34E7);
            filter: blur(140px);
            opacity: 0.4;
        }
    }
}



@media (max-width: 800px) {

    nav ul {
        display: none !important;
    }

    main .back-white {
        overflow-x: hidden;
        height: 300vh;
    }

    /* body {
        overflow: auto;
        justify-content: center;
    } */

    main .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 140px;
        height: auto;
    }

    main .landing {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;

        .right {
            text-align: center;
        }
    }

    header nav .signup .fa-bars {
        display: flex !important;
    }
}