button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: aquamarine;
}

body{
    background-color: rgba(238, 210, 176, 0.652);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida parente', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}