* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: black;
}

/* Header ======================= */

header {
    position: absolute;
    width: 100%;

    nav {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .right {
            display: flex;
            align-items: center;

            img {
                margin-left: -40px;
                cursor: url(assets/customcursor.png), auto;
                transition: 0.3s;
                border-radius: 4px;
               

            }

            img:hover {

                filter: brightness(0) saturate(100%) invert(22%) sepia(82%) saturate(6757%) hue-rotate(0deg) brightness(95%) contrast(126%);
                box-shadow: 0px 0px 30px 0px rgba(255, 0, 0, 0.285), inset 0px 0px 20px 0px rgba(255, 0, 0, 0.378);
            }

            p {
                margin-left: -60px;
                color: red;
                letter-spacing: 4px;
            }
        }

        .left {
            p {
                color: red;
                font-size: 30px;
                text-align: end;
                transition: 0.3s;
            }
        }
        .left:hover{
            p{
                text-shadow: 1px 1px 30px red;
            }
        }
    }

    .rotated-nav {
        position: absolute;
        right: -25px;
        top: 320px;
        rotate: 90deg;
        width: 400px;
        height: 200px;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                a {
                    color: white;
                    transition: 0.3s;
                }

                a:hover {
                    color: red;
                }
            }
        }

    }

}


/* End of Header ============== */

/* main Begins ============== */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .images {
        width: 50%;
        height: 50%;
        position: absolute;
    }

    .images:hover {
        .eclipse {
            box-shadow: 0px 0px 30px 1px rgb(255, 0, 0), inset 0px 0px 90px 1px rgb(255, 0, 0);

        }
    }

    img {
        position: absolute;
        left: 20%;
        width: 63%;
    }

    .eclipse {
        transition: 0.3s;
        border: 1px red solid;
        border-radius: 50%;
        box-shadow: 0px 0px 30px 1px rgba(255, 0, 0, 0.696), inset 0px 0px 90px 1px rgba(255, 0, 0, 0.86);
    }
}

/* Main ends ==============*/

/* Footer starts */

footer {
    margin-top: -50px;
    width: 100%;
    display: flex;
    justify-content: center;

    section {

        width: 94%;
        height: 50px;

        display: flex;
        justify-content: space-between;



        .right {
            .web {
                color: white;
                font-size: 20px;
            }

            .from {
                display: inline;
                color: rgb(183, 183, 183);
            }

            .in {
                display: inline;
                color: red;
            }
        }

        .left {
            padding-right: 30px;

            img {
                padding-left: 10px;
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }
    }
}